@model Post_Office_Management.Models.ChargeDetail
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _userManager;

@{
    ViewData["Title"] = "Create Charge Detail";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card px-3 py-2">
                <div class="card-header">
                    <h3>Create Charge Detail</h3>
                </div>
                <br />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="form-group row">
                            <label asp-for="ServiceTypeId" class="col-md-4 form-label">ServiceType</label>
                            <div class="col-md-8">
                                <select asp-for="ServiceTypeId" class="form-control" required>
                                    <option selected disabled>Select Service Type..</option>
                                    @foreach (var serviceType in ViewBag.ServiceTypes)
                                    {
                                        <option value="@serviceType.Id">@serviceType.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            @Html.LabelFor(m => m.CreatedBy, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                <input asp-for="CreatedBy" class="form-control" value="@_userManager.GetUserAsync(User).Result.Email" />
                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            @Html.LabelFor(m => m.LastModifiedBy, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                <input asp-for="LastModifiedBy" class="form-control" value="@_userManager.GetUserAsync(User).Result.Email" />
                                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            @Html.LabelFor(m => m.Charge, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.Charge, new { htmlAttributes = new { @class = "form-control" } })
                                <span asp-validation-for="Charge" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            @Html.LabelFor(m => m.EffectiveDate, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.EffectiveDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            @Html.LabelFor(m => m.EndDate, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row offset-4">
                            <div class="col-md-6 d-grid">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <div class="col-md-6 d-grid">
                                <a asp-action="List" asp-controller="Charge" class="btn btn-secondary">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}